.product_bg_section {
  background-color: #1e1c20;
}

.Product_demo_girl {
  height: 600px;
  background-image: radial-gradient(
      circle at 50% 0,
      rgba(0, 0, 0, 0) 23%,
      #1e1c20 91%
    ),
    url(../../assets/team_2.png);
  background-position: 0 0, 50% 0;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
}

/* accordion css */

h2 {
  color: #282f35;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

p {
  color: #666666;
  font-family: "Malgun Gothic", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.acc {
  margin: 90px 0;
  overflow: hidden;
  padding: 0;
}

.acc li {
  list-style-type: none;
  padding: 0;
}

.acc_ctrl {
  background: #ffffff;
  border: none;
  border-bottom: solid 1px #f2f2f2;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 2em;
  position: relative;
  text-align: start;
  width: 100%;
}

.acc_ctrl:before {
  background: #44596b;
  content: "";
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 14px;
}

.acc_ctrl:after {
  background: #44596b;
  content: "";
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}

.acc_ctrl.active:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.acc_ctrl.active h2,
.acc_ctrl:focus h2 {
  position: relative;
}

.acc_panel {
  background: #f2f2f2;
  display: none;
  overflow: hidden;
}
