.review_bg_section {
  background: #1e1c20;
}
.review_details_div {
  padding: 60px;
}
.customer_no {
  margin: 0px;
  color: #f77f00;
  font-size: 4.5rem;
  font-family: Manrope-Bold;
  src: url(../../../src/assets/font/Manrope-Bold.otf);
}
.project_no {
  margin: 0px;
  color: #ef476f;
  font-size: 4.5rem;
  font-family: Manrope-Bold;
  src: url(../../../src/assets/font/Manrope-Bold.otf);
}
.review_counting {
  display: flex;
}
.review_details_div {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 40px;
}
@media screen and (max-width: 720px) {
  .review_details_div {
    padding: 0px;
  }
  .review_bg_section {
    overflow: hidden;
  }
}
