.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Manrope-Regular;
  src: url(../src/assets/font/Manrope-Regular.otf);
}

.Manrope-Regular {
  font-family: Manrope-Regular;
}
@font-face {
  font-family: Manrope-Bold;
  src: url(../src/assets/font/Manrope-Bold.otf);
}
.Manrope-Bold {
  font-family: Manrope-Bold;
}

@font-face {
  font-family: Manrope-ExBold;
  src: url(../src/assets/font/Manrope-ExtraBold.otf);
}
.Manrope-ExBold {
  font-family: Manrope-ExBold;
}
