.about-bg-section {
  background-color: #1e1c20;
}
.about_section {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  perspective: 2000px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.05fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
  position: relative;
}

.about_team_detail {
  display: flex;
  justify-content: center;
  text-align: start;
  flex-direction: column;
}

.about_team_img {
  height: 700px;
  background-image: radial-gradient(
      circle at 50% 0,
      rgba(0, 0, 0, 0) 36%,
      #1e1c20 90%
    ),
    url(../../assets/team_1.png);
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, contain;
}
